streamlit 
langchain 
langchain_ollama
selenium
beautifulsoup4
lxml 
html5lib
python-dotenv
uvicorn[standard]
google-genai
python-dotenv
pdfplumber
fastapi
python-multipart
fastapi-utils
typing-inspect